@import "./breakpoints.scss";
.header
{
    width: 100%;
    height: 112px;
    margin-top: -10%;
    background-color: #000000;
    position: fixed;
    z-index: 1000;
    margin: 0;
    font-family: "Quicksand";
   } 

.links
{
    
    @include sm{
        margin-top: -6.1%;
        margin-left: 33%;
    }

    @include md{
        margin-top: -5.3%;
        margin-left: 31%;
    }

    @include lg{
        margin-top: -4.2%;
        margin-left: 28%;
    }

    @include xl{
        margin-top: -3.6%;
        margin-left: 27%;
    }

    @include xxl{
        margin-top: -2.7%;
        margin-left: 25%;
    }


}
.logo
{
    margin-left: 16.7%;
    margin-top: 23px;
}
.link
{
    
    margin-right: 5%;

}